@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#p_list{
    margin-top: 100px;
}
#nav_area {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Kölgə effekti */
    z-index: 1000; 
    padding: 10px 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.navbar_right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_icon1{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor: pointer;
}

.nav_icon1 span{
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    background-color: #00b1f4;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.nav_icon2{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav_icon2 span{
    position: absolute;
    top: 0;
    left: 48px;
    border: none;
    background-color: #00b1f4;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.nav_list{
    display: flex;
    gap: 30px;
    list-style-type: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

.nav_list li a:hover{
    color: red;
}

.hot{
    position: relative;
}

.hot span{
    position: absolute;
    bottom: 15px;
    left: 25px;
    background-color: red;
    border-radius: 30%;
    width: 35px;
    height: 20px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 input{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    padding: 12px 20px;
}

.btn1{
    position: relative;
}

.btn1 i{
    position: absolute;
    right: 10px;
    top: 12px;
}

.btn2 button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #2577fd;
    color: white;
    border: none;
    font-size: 18px;
}

.btn2 button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #2577fd;
    color: white;
    border: none;
    font-size: 18px;
}

.btn2 button:hover{
    background-color: #00b1f4;
}

.burger{
    display: none;
    background-color: #222222;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

@media (max-width:1024px){
    .btn1,
    .nav_icon1{
        display: none;
    }
}

@media (max-width:768px){
    .burger{
        display: block;
    }
    .nav,
    .navbar_right{
        display: none;
    }
}

.navbar ul li {
    position: relative;
}

/* Dropdown menyunu gizlət */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: white;
    list-style: none;
    min-width: 150px;
    border-top: 3px solid red;
    
}

/* Dropdown içindəki linklər */
.dropdown-menu li a {
    padding: 10px;
    display: block;
}

/* Hover edəndə menyunu göstər */
.dropdown:hover .dropdown-menu{
    display: block;
}



#p_list .img{
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/category.jpg);
    height: 300px;
    background-size: cover;
    text-align: center;
}
.product_list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px;
    font-family: "Playfair Display", serif;
}


.container{
    margin: 0 auto;
    max-width: 1200px;
}

.blog{
    display: flex;
    gap: 30px;
    margin-top: 10%;
}
.travel_com{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #999999;
    cursor: pointer;
    margin-top: 20px;
}
.travel_com p:hover{
    color: red;
}
.travel_com i:hover{
    color: red;
}
.vl {
    border-left: 2px solid black;
    height: 15px;
}
.left1{
    margin-bottom: 50px;
}
.blog_content{
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 15px;
}
.blog_content h2 {
    color: #0b1c39;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    margin-top: 20px;
}
.blog_content h2:hover{
    color: red;
}
.blog_content_p {
    font-family: "Poppins", sans-serif;
    color: #506172;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    font-weight: normal;
    text-align: justify;
}
.blog_content_p1 {
    font-family: "Poppins", sans-serif;
    color: #888888;
    font-size: 16px;
    line-height: 30px;
    padding: 25px 25px 25px 30px;
    border-left: 2px solid rgb(143, 143, 143);
    font-weight: normal;
    text-align: justify;
    background-color: white;
    width: 690px;
    height: 188.63px;
}
.bcp{
    background-color: #828bb21a;
    margin: 25px 0px;
    padding: 30px;
    width: 750px;
    height: 248.63px;
}

.left_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 50px;
}
.ip{
    display: flex;
    gap: 15px;
    color: #506172;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.left_bottom{
    display: flex;
    justify-content: space-between;
}
.img_p{
    display: flex;
}
.img_p p{
    margin-left: 30px;
    color: #506172;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.imgg2 p{
    margin-right: 30px;
}

.social-icons{
    display: flex;
    gap: 20px;
    color: rgb(177, 177, 177);
    font-size: 14px;
}
.left_bottom{
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 15px; 
}

.harvard{
    display: flex;
    gap: 30px;
    width: 810px;
    height: 170px;
    background-color: #fbf9ff;
    margin: 50px 0px 0px;
    padding: 40px 30px;
    color: #212529;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.comment_img{
    display: flex;
    gap: 30px;
    padding: 0px 0px 48px;
    font-family: "Poppins", sans-serif;
    
}
.comment_img img{
    width: 70px;
    height: 70px;
}
.twop{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20%;
}




.blog_right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog_search{
    background-color: #fbf9ff;
    padding: 30px;
    width: 360px;
    height: 174.1px;
    font-size: 16px;
    color: #212529;
    font-family: "Poppins", sans-serif;
}
.blog_search button{
    width: 300px;
    height: 48.1px;
    padding: 12px 54px;
    background-color: #2577fd;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid red;
    cursor: pointer;
}
.blog_search button:hover{
    color: black;
    background-color: white;
}
.blog_input input{
    width: 300px;
    height: 50px;
    padding: 6px 12px 6px 20px;
    margin-bottom: 10px;
    border: none;
}
.blog_input i{
    background-color: #2577fd;
    width: 46.8px;
    height: 50px;
    padding: 4px 15px;
    padding: 17px;
    position: absolute;
    right: 0;
    color: white;
    cursor: pointer;
}
.blog_input {
    position: relative;
}

.blog_category{
    width: 360px;
    height: 470.8px;
    background-color: #fbf9ff;
    margin: 0px 0px 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog_category h3{
    font-size: 20px;
    margin: 0px 0px 40px;
    color: #0b1c39;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 5px;
}
.blog_category p{
    color: #506172;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 5px;
}
.blog_category p:hover{
    color: red;
}
.blog_post{
    width: 360px;
    height: 519.8px;
    background-color: #fbf9ff;
    font-size: 16px;
    margin: 0px 0px 30px;
    padding: 30px;
    font-family: "Poppins", sans-serif;
}
.blog_post h3{
    font-size: 20px;
    margin: 0px 0px 40px;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 5px;
}
.blog_recent{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}
.blog_recent .time{
    color: #506172;
    font-size: 14px;
}
.blog_recent .timee{
    font-family: "Playfair Display", serif;
    cursor: pointer;
}
.blog_recent .timee:hover{
    color: red;
}
.blog_tag{
    width: 360px;
    height: 251.1px;
    background-color: #fbf9ff;
    margin: 0px 0px 30px;
    padding: 30px;
}
.blog_tag h3{
    font-size: 20px;
    margin: 0px 0px 40px;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 5px;
}

.blog_span span {
    padding: 4px 20px;
    margin: 0px 3px 8px 0px;
    font-size: 12px;
    border: 1px solid #ccc;
    background-color: white;
    color: #888888;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.blog_span span:hover{
    color: white;
    background-color: red;
}
.blog_span{
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
}

.blog_feed{
    width: 360px;
    height: 349.8px;
    background-color: #fbf9ff;
    margin: 0px 0px 30px;
    padding: 30px;
}
.blog_feed h3{
    font-size: 20px;
    margin: 0px 0px 40px;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 5px;
}
.blog_feed img{
    margin: 3px 3px;
}

.blog_newsletter{
    width: 360px;
    height: 253.9px;
    background-color: #fbf9ff;
    margin: 0px 0px 30px;
    padding: 30px;
}
.blog_newsletter h3{
    font-size: 20px;
    margin: 0px 0px 40px;
    font-family: "Playfair Display", serif;
    border-bottom: 1px solid #f0e9ff;
    padding-bottom: 5px;
}

.blog_newsletter button{
    width: 300px;
    height: 48.1px;
    padding: 12px 54px;
    background-color: #2577fd;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid red;
    cursor: pointer;
}
.blog_newsletter button:hover{
    color: black;
    background-color: white;
}
.blog_news input{
    width: 300px;
    height: 50px;
    padding: 6px 12px 6px 20px;
    margin-bottom: 10px;
    border: none;
}



form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.getintouch{
    display: flex;
    margin-left: 150px;
    gap: 50px;
    margin-bottom: 10%;
}

.touch_left h2 {
    font-size: 18px;
    font-family: "Playfair Display", serif;
    color: #0b1c39;
    margin: 0px 0px 40px;
}
.same{
    display: flex;
    gap: 10px;
}
.touch_left textarea, input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
}
textarea{
    height: 205px;
    width: 730px;
}
.touch_left input{
    width: 360px;
    height: 48px;
}
.send{
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 500;
    padding: 12px ;
    border: 0.1px solid #ff003c;
    text-transform: uppercase;
    background-color: #2577fd;
    width: 199.21px;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
}

.send:hover {
    background: #ffffff;
    color: black;
}


/* footer */

footer {
    padding: 40px 10%;
    font-family: "Poppins", sans-serif;
    color: #868c96;
    margin: 5% 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}
.footer-section p{
    white-space: pre-line;
}
.footer-section img {
    width: 102px;
    margin-bottom: 40px;
}

.footer-section h3 {
    color: #333;
    margin-bottom: 40px;
    font-size: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.social-icons i {
    margin: 0 8px;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}