@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav_area {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Kölgə effekti */
    z-index: 1000; 
    padding: 10px 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.navbar_right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_icon1{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor: pointer;
}

.nav_icon1 span{
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    background-color: #00b1f4;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.nav_icon2{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav_icon2 span{
    position: absolute;
    top: 0;
    left: 48px;
    border: none;
    background-color: #00b1f4;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.nav_list{
    display: flex;
    gap: 30px;
    list-style-type: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}


.nav_list li a:hover{
    color: red;
}

.hot{
    position: relative;
}

.hot span{
    position: absolute;
    bottom: 15px;
    left: 25px;
    background-color: red;
    border-radius: 30%;
    width: 35px;
    height: 20px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 input{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    padding: 12px 20px;
}

.btn1{
    position: relative;
}

.btn1 i{
    position: absolute;
    right: 10px;
    top: 12px;
}

.btn2 button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #2577fd;
    color: white;
    border: none;
    font-size: 18px;
}

.btn2 button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #2577fd;
    color: white;
    border: none;
    font-size: 18px;
}
.btn2 button a{
    font-family: "Poppins", sans-serif;
}

.btn2 button:hover{
    background-color: #00b1f4;
}

.burger{
    display: none;
    background-color: #222222;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

@media (max-width:1024px){
    .btn1,
    .nav_icon1{
        display: none;
    }
}

@media (max-width:768px){
    .burger{
        display: block;
    }
    .nav,
    .navbar_right{
        display: none;
    }
}

.navbar ul li {
    position: relative;
}

/* Dropdown menyunu gizlət */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: white;
    list-style: none;
    min-width: 150px;
    border-top: 3px solid red;
    
}

/* Dropdown içindəki linklər */
.dropdown-menu li a {
    padding: 10px;
    display: block;
}

/* Hover edəndə menyunu göstər */
.dropdown:hover .dropdown-menu{
    display: block;
}


#main{
    background-color: #C8EBFF;
    height: 764px;
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/hero_man.png);
    background-repeat: no-repeat;
    margin-top: 100px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    gap: 20px;
    height: 100%;
}

.p1 {
    font-family: "Yellowtail", cursive;
    font-size: 40px;
    color: #2577fd;
    padding-right: 22%;
}
.p2 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    padding-right: 16%;
    opacity: 0.9;
}

.text h1{
    font-family: "Playfair Display", serif;
    font-size: 100px;
}

.text .btn2 {
    padding-right: 27%;
    border: none;
}
@media (max-width:768px){
    #main{
        background-image: none;
        width: 550px;
    }
    .text{ 
    padding-left: 0;
    height: 80%;
    }
}

#shopbcat{
    margin-top: 10%;
    margin-bottom: 10%;
}

.shopbycategory{
    margin-bottom: 5%;
    font-size: 48px;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
.cards img{
    width: 438px;
    height: 266px;
}

.card1{
    position: relative;
}

.cardp1{
    font-size: 26px;
    font-family: "Playfair Display", serif;
}

.cardp2{
    font-size: 23px;
    font-family: "Yellowtail", cursive;
    font-weight: bold;
    color: #0071fe;
    text-shadow: 2px -2px white;
}

.card_btn{
    background-color: #ffce25;
    padding: 13px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
}
.sbc_text{
    position: absolute;
    top: 35%;
    left: 60%;
}

@media (max-width:768px){
    .cards{
        flex-direction: column;
    }
}


#latestproducts{
    margin-bottom: 10%;
}
.latest_products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
hr{
    color: #8f8f96;
    width: 70%;  
    margin: 0 auto;  
}
.latest_products h2{
    font-size: 48px;
    font-family: "Playfair Display", serif;
}
.latest_list{
    display: flex;
    list-style-type: none;
    gap: 40px;
    cursor: pointer;
}

.latest_list li{
    color: #8f8f96;
}
.latest_list li:nth-child(1){
    color: red;
}


.picturesort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 18%;
    text-align: center;
    margin-top: 5%;
}

.sort-card {
    width: 26%;
    padding: 15px;
}
.sort-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.sort-card p{
    margin-top: 15px;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    color: #383838;
    cursor: pointer;
}
.sort-card p:hover{
    color: red;
}

.sort-card i{
    padding-top: 10%;
}

.sort-card span{
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}
.price2{
    color: red;
    text-decoration: line-through;
}

.sale p{
    position: absolute;
    
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding: 7px 17px;
    border-radius: 15px;
}

.staricon{
    color: orange;
}

@media (max-width:768px){
    .latestproducts{
        flex-direction: column;
        
    }
    .latest_products h2{
        font-size: 35px;
    }
    .latest_products{
        display: block;
    }
    .latest_list{
        width: 50%;
        margin-top: 5%;
        align-items: center;
    }
    .picturesort{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
    .sort-card{
        width: 80%;
    }
}

 
 #man_section{
    position: relative;
    margin-top: 20%;
}
.bg-color{
    background-color: #FFF6D9;
    height: 580px;
    margin: 50px;
}
.man_img{
    position: absolute;
    bottom: 0;
    left: 300px;
}

.man_text{
    position: absolute;
    top: 150px;
    left: 600px;
    line-height: 60px;
}

.m_tshirt{
    position: absolute;
    left: 80%;
    top: 400px;
}

.man_text h2{
    font-size: 55px;
    font-family: "Playfair Display", serif;
}

.man_text p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}





@media (max-width: 768px) {
    #man_section {
        margin-top: 40%;
        flex-direction: column;
        align-items: center;
    }

    .man_img {
        display: none;
    }

    .man_text {
    top: 50px;
    left: 50px;
    }
    .man_text h2{
        font-size: 25px;
    }
    .m_tshirt {
        display: none; 
    }
    .bg-color{
        width: 500px;
        margin-left: 0;
    }
}

#best_collection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% auto;
    flex-wrap: wrap;
   
}
.left-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
    max-width: 350px;
}
.left-text img{
    width: 100%;
    margin-top: 44%;
}
.left-text h2{
    font-size: 45px;
    font-family: "Playfair Display", serif;
    margin-right: 10%;
}

.left-text p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.text_img{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 50px;

}
.text_img p{
    font-size: 18px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-top: 65px;
}
.right-text{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.right-text img{
    width: 106px;
    height: 118px;
}

.jacket2 p{
    background-color: #2577fd;
    border-radius: 10px;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
} 

@media (max-width: 768px) {
    .left-text img{
        display: none;
    }
    .middle_img img{
        display: none;
    }
    .left-text{
        margin-left: 10%;
    }
}

.newsletter {
    background-color: #e6f3ff; 
    height: 400px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.text-content h2 {
    font-size: 45px;
    font-family: "Playfair Display", serif;
}

.text-content p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #373b41;
    margin-top: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-group input {
    border: none;
    padding: 20px 20px;
    font-size: 16px;
    outline: none;
    width: 300px;
}

.input-group button {
    background-color: #2577fd;
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
.newsletter{
    width: 500px;
}
    .input-group {
        width: 100%;
        max-width: 400px;

    }
    .input-group input {
        width: 100%;
    }
} 

.ikonlar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 13%;
}

.ikon1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ikon1 i{
    font-size: 40px;
    color: #282828;
}
.ikon1 h3{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #282828;
}

.ikon1 p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #506172;
    line-height: 30px;
}
@media screen and (max-width: 600px) {
    .ikonlar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ikon1 {
        width: 100%;
        max-width: 90%;
        text-align: center;
    }

    .ikon1 i {
        font-size: 35px;
    }

    .ikon1 h3 {
        font-size: 18px;
    }

    .ikon1 p {
        font-size: 14px;
        line-height: 25px;
    }
}
.img5{
    display: flex;
    padding-left: 50px;
}
.img5 img{
    width: 290px;
}

@media (max-width: 600px) {
    .img5 {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .img5 img {
        width: 90%;
    }
}
@media  (min-width: 600px) and (max-width: 1024px) {
    .img5 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .img5 img {
        width: 45%; 
    }
}

/* footer */

footer {
    padding: 40px 10%;
    font-family: "Poppins", sans-serif;
    color: #868c96;
    margin: 5% 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}
.footer-section p{
    white-space: pre-line;
}
.footer-section img {
    width: 102px;
    margin-bottom: 40px;
}

.footer-section h3 {
    color: #333;
    margin-bottom: 40px;
    font-size: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 20px;
    cursor: pointer;
}
.footer-section ul li:hover{
    color: #0071fe;
}
.social-icons i:hover{
    color: #0071fe;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.social-icons i {
    margin: 0 8px;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

@media (max-width: 1024px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }
}
