@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav_area{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.navbar_right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_icon1{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    cursor: pointer;
}

.nav_icon1 span{
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    background-color: #00b1f4;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.nav_icon2{
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav_icon2 span{
    position: absolute;
    top: 0;
    left: 48px;
    border: none;
    background-color: #00b1f4;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.nav_list{
    display: flex;
    gap: 30px;
    list-style-type: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}

.nav_list li a:hover{
    color: red;
}

.hot{
    position: relative;
}

.hot span{
    position: absolute;
    bottom: 15px;
    left: 25px;
    background-color: red;
    border-radius: 30%;
    width: 35px;
    height: 20px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 input{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    padding: 12px 20px;
}

.btn1{
    position: relative;
}

.btn1 i{
    position: absolute;
    right: 10px;
    top: 12px;
}

.btn2 button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #2577fd;
    color: white;
    border: none;
    font-size: 18px;
}

.btn2 button{
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #2577fd;
    color: white;
    border: none;
    font-size: 18px;
}

.btn2 button:hover{
    background-color: #00b1f4;
}

.burger{
    display: none;
    background-color: #222222;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

@media (max-width:1024px){
    .btn1,
    .nav_icon1{
        display: none;
    }
}

@media (max-width:768px){
    .burger{
        display: block;
    }
    .nav,
    .navbar_right{
        display: none;
    }
}


.navbar ul li {
    position: relative;
}

/* Dropdown menyunu gizlət */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    list-style: none;
    min-width: 120px;
    border-top: 3px solid red;
    
}

/* Dropdown içindəki linklər */
.dropdown-menu li a {
    padding: 10px;
    display: block;
}

/* Hover edəndə menyunu göstər */
.dropdown:hover .dropdown-menu{
    display: block;
}


#main{
    background-color: #C8EBFF;
    height: 764px;
    background-image: url(https://preview.colorlib.com/theme/estore/assets/img/hero/hero_man.png);
    background-repeat: no-repeat;
    margin-top: 20px;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    gap: 20px;
    height: 100%;
}

.p1 {
    font-family: "Yellowtail", cursive;
    font-size: 40px;
    color: #2577fd;
    padding-right: 22%;
}
.p2 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    padding-right: 16%;
    opacity: 0.9;
}

.text h1{
    font-family: "Playfair Display", serif;
    font-size: 100px;
}

.text .btn2 {
    padding-right: 27%;
    border: none;
}